@import "./../style.css";
@import url(./../components/header/header.css);
@import url(../components/footer/footer.css);
@import url(./../css/contacts.css);

:root {
    --header-image-bg-opacity-color: var(--nero);
    --service-contents-text-color: var(--medium-gray-red);
    --landing-footer-top-bg-color: var(--baltic-sea);
    --landing-footer-bottom-bg-color: var(--nero);
}

.header-image {
    background: url("./../image/price.jpg") top left no-repeat;
    background-size: cover;
    font-size: 1rem;
    position: relative;
    margin-top: -1.7em;
    z-index: -5;
}

.header-image::before, .header-image::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-image::after {
    background: var(--header-image-bg-opacity-color);
    opacity: 0.4;
}

.header-image__content {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 10em 0;
    text-align: center;
}

.header-image__title {
    color: white;
    font-size: 3em;
    line-height: 3;
    text-transform: uppercase;
}

/*-------main part-----------*/
.service__item_marker{
    position: relative;
    margin: 1em 0;
    padding-left: 2em;
    padding-bottom: 1em;
    color: var(--header-intro-title-color);
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 0.1em solid var(--header-intro-title-border-color);
}

.service__item_marker::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("./../image/marker.svg");
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    content: "";
}

.service__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 73.125rem;
    margin: 2em auto;
}

.service__content {
    box-sizing: border-box;
    width: 40em;
    margin: 0;
}

.service__img {
    width: 33em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.service__contents {
    font-size: 1em;
    text-align: justify;
    color: var(--service-contents-text-color);
    padding: 0;
}
