@import "./../style.css";
@import url(./../components/header/header.css);
@import url(../components/footer/footer.css);
@import url(./../css/contacts.css);

:root {
    --header-image-bg-opacity-color: var(--nero);


    --landing-footer-top-bg-color: var(--baltic-sea);
    --landing-footer-bottom-bg-color: var(--nero);
}

.header-image {
    background: url("./../image/price.jpg") top left no-repeat;
    background-size: cover;
    font-size: 1rem;
    position: relative;
    margin-top: -1.7em;
    z-index: -5;
}

.header-image::before, .header-image::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-image::after {
    background: var(--header-image-bg-opacity-color);
    opacity: 0.4;
}

.header-image__content {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 10em 0;
    text-align: center;
}

.header-image__title {
    color: white;
    font-size: 3em;
    line-height: 3;
    text-transform: uppercase;
}

/*-------main part-----------*/
.service__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1170px;
    margin: 2em auto;
}

.service__content {
    box-sizing: border-box;
    width: 60%;
    margin: 0;
}

.service__img {
    width: 40%;
    flex-wrap: wrap;

    margin: 0;
}


