<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Footer-bottom</title>
  <link rel="stylesheet" href="footer-bottom.css">
</head>
<body>
  <section class="footer-bottom">
    <section class="paycards">
      <img class="paycards__type_visa-master" src="../../image/visa-mastercard-монохром.png" alt="visa-master">
      <img class="paycards__type_belkard" src="../../image/belkart-i-монохром.png" alt="belcard">
    </section>
    <section class="footer-info">
      <p class="copyright"><span>&#169;</span> 2019 AutoPoint</p>
    </section>
  </section>
</body>
</html>