@import "../../css/style.css";

:root {
    --footer-top-bg-color: var(--baltic-sea);
    --footer-top-text-color: var(--raven);
    --footer-top-tittle-color: var(--gainsboro);
    --footer-item-text-color: var(--medium-gray-red);
    --footer-item-hover-color: var(--royal-blue);
    --footer-item-focus-color: var(--cornflower-blue);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 1em;
    width: 73.125rem;
    background: var(--footer-top-bg-color);
    color: var(--footer-top-text-color);
    font-size: 1rem;
    line-height: 1.9;
    letter-spacing: 0.08em;
    font-weight: 600;
}

.footer-top__part {
    display: flex;
    flex-wrap: wrap;
    width: 19em;
}

/*.footer-top__part:nth-child(2){
   margin-right: 2em;
}*/

.footer-logo {
    width: 16em;
}

.logo-img {
    padding: 5em 0 5em 0;
    width: 8em;
    height: 8em;
    }

.footer-side__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--footer-top-tittle-color);
}

.footer-side,
.footer-side p
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-side p {
    padding-right: 5em;
}

.footer-side__item {
    text-decoration:none;
    color: var(--footer-item-text-color) ;
}

.footer-side__item:hover,
.footer-side__item:active,
.footer-side__item:focus{
    color: var(--footer-item-hover-color);
}

.footer-side__item:focus{
    outline: none;
    color: var(--footer-item-focus-color);
}