@import "../../css/style.css";
@import url(footer-top.css);
@import url(footer-bottom.css);

:root {
    --landing-footer-top-bg-color: var(--baltic-sea);
    --landing-footer-bottom-bg-color: var(--nero);
}

.landing-footer__top {
    background: var(--landing-footer-top-bg-color);
}

.landing-footer__bottom {
    background: var(--landing-footer-bottom-bg-color);
}