<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="header-top.css">
</head>
<body>
  <header class="header-top">
    <a href="header-top.html">
      <img class="logo-header" src="../../image/logo-name.png" alt="autopoint">
    </a>
    <blockquote class="header-top___quote">
      <p class="header-top___quote_eng">Remember driving is a freedom. I wish you to enjoy every kind of freedom... As
        long as you don't hurt someone.</p>
      <p class="header-top___quote_rus">Вождение — это свобода. Наслаждайся любой свободой, не причиняя вред другим.</p>
      <p class="header-top___quote_font">Darwan Singh Tur</p>
    </blockquote>
  </header>
</body>
</html>