<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing-header</title>
  <link rel="stylesheet" href="header.css">
</head>
<body>
  <header class="landing-header">
    <header class="header-top">
      <a href="header.html">
        <img class="logo-header" src="../../image/logo-name.png" alt="autopoint">
      </a>
      <blockquote class="header-top___quote">
        <p class="header-top___quote_eng">Remember driving is a freedom. I wish you to enjoy every kind of freedom... As
          long as you don't hurt someone.</p>
        <p class="header-top___quote_rus">Вождение — это свобода. Наслаждайся любой свободой, не причиняя вред другим.</p>
        <p class="header-top___quote_font">Darwan Singh Tur</p>
      </blockquote>
    </header>
    <header class="header-bottom">
      <ul class="header-bottom navbar">
        <li class="navbar__item">
          <a class="navbar__link" href="#">Главная</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#">Услуги</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#">Цены</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#">О нас</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#">Контакты</a>
        </li>
      </ul>
    </header>
  </header>
</body>
</html>