@import "style.css";
@import url(common/header.css);
@import url(common/form-message.css);
@import url(common/button.css);
@import url(common/footer.css);

:root {
    --form-message-color: var(--medium-gray-red);
    --header-intro-title-color: var(--nero);
    --header-intro-title-border-color: var(--gainsboro);
    --contact-contacts-bg-color: var(--honeydew);
    --contact-connection-title-color: var(--baltic-sea);
    --contact-connection-text-color: var(--medium-gray-red);
    --contact-item-link-text-color:var(--medium-gray-red);
    --contact-item-link-hover-color:var(--royal-blue);
    --contact-item-link-focus-color:var(--cornflower-blue);
}

/*-----header-----*/
.header-image {
    background: url("../image/about_us_heder.jpg") top left no-repeat;
    background-size: cover;
}
/*-----main-----*/
.contacts-main {
    display: flex;
    flex-direction: column;
}

.header-intro,
.form-message {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 73.125em;
    font-size: 1rem;
    color: var(--form-message-color);
}

.header-intro__title {
    position: relative;
    margin: 2em 0;
    padding-left: 2em;
    padding-bottom: 1em;
    color: var(--header-intro-title-color);
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 0.1em solid var(--header-intro-title-border-color);
}

.header-intro__title::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../image/marker.svg");
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    content: "";
}

.form-message {
    padding: 1.2em 0 1.2em;
    align-self: center
}

input[type=submit] {
    margin: 0 auto;
    align-self: center;
    margin-bottom: 3em;
}

.contacts {
    display: flex;
    padding: 2em 0;
    background: var(--contact-contacts-bg-color);
    /*visibility: visible;
    animation-name: growRight;*/
}

/*@keyframes growRight {
    0% {
        opacity: 0;
        transform: translate3d(40px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}*/

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 100%;
    max-width: 73.125em;
}

.contact-item {
    width: 100%;
    max-width: 18.25em;
}

.contact-item__title {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2em;
    color: var(--contact-connection-title-color);
}

.contact-item__content {
    color: var(--contact-connection-text-color);
    font-weight: 400;
}

.contact-item__link {
    text-decoration: none;
    color: var(--contact-item-link-text-color);
}

.contact-item__link:hover,
.contact-item__link:active,
.contact-item__link:focus {
    color: var(--contact-item-link-hover-color);
}

.contact-item__link:focus {
    outline: none;
    color: var(--contact-item-link-focus-color);
}

.contact-map {
    width: 100%;
}

@media (max-width: 1170px) {
    .contact {
        justify-content: center;
    }

    .header-intro__title {
        font-size: 1.3em;
    }
}