@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("/montserrat/Montserrat-Regular.otf"),
    url("/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Architects_Daughter', sans-serifa;
    font-style:normal;
    font-weight: normal;
    src: url("/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
}




/*@font-face {
    font-family: "UbuntuRegular";
    src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
    src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/
