@import "style.css";
@import url(../components/header/header.css);
@import url(../components/footer/footer.css);
@import url(contacts.css);

:root {
    --header-image-bg-opacity-color: var(--nero);
    --price-table-border-bottom-color: var(--honeydew);
    --price-table-bg-th-color: var(--royal-blue);
    --price-table-text-th-color:var(--honeydew);
    --price-table-text-td-color:  var(--medium-gray-red);
    --table-price-bg-tr-color: var(--honeydew);
    --table-price-notice-color: var(--medium-gray-red);
    --landing-footer-top-bg-color: var(--baltic-sea);
    --landing-footer-bottom-bg-color: var(--nero);
}

.header-image {
    background: url("../imagerice.jpg") top left no-repeat;
    background-size: cover;
    font-size: 1rem;
    position: relative;
    margin-top: -1.7em;
    z-index: -5;
}

.header-image::before, .header-image::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-image::after {
    background: var(--header-image-bg-opacity-color);
    opacity: 0.4;
}

.header-image__content {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 10em 0;
    text-align: center;
}

.header-image__title {
    color: white;
    font-size: 3em;
    line-height: 3;
    text-transform: uppercase;
}

@keyframes promo {
    0% { color: rgba(232, 34, 19, 1); }
    50% { color: rgba(225, 225, 225, 1); }
    100% { color: rgba(232, 34, 19, 1); }
}

.price__promo {
    width: 100%;
    max-width: 1170px;
    margin: 2em auto;
    font-size: 2rem;
    animation: promo 4s linear infinite;
}

.price__promo span {
    text-transform: uppercase;
}

.price__discription {
    display: block;
    margin: 0.313em auto;
    padding: 0;
    width: 100%;
    max-width: 1170px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.72em;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--table-price-notice-color);
}

.block-price {
    display: block;
    margin: 0.313em auto;
    width: 100%;
    max-width: 1170px;
    font-size: 1rem;
}

.table-price {
    display: table;
    width: 100%;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    border-bottom: 0.07em solid var(--price-table-border-bottom-color);
    background: white;
}

.table-price th,
.service-avto,
.tire-name {
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    text-align: center;
    font-size: 0.95em;
    line-height: 1.72;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.table-price th{
    background: var(--price-table-bg-th-color);
    color: var(--price-table-text-th-color);
}

.service-avto,
.tire-name {
    color: var(--price-table-text-td-color);
}

.table-price_notice {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.72em;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: var(--table-price-notice-color);
}

.service-name, .service-price {
    box-sizing: border-box;
    margin: 0;
    padding: 0.95em;
    text-align: left;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: var(--price-table-text-td-color);
}

.service-price {
    text-align: center;
}

.table-price_bg:nth-of-type(2n+1) {
    background: var(--table-price-bg-tr-color);
}

/*-----footer-----*/
.landing-footer-top {
    background: var(--landing-footer-top-bg-color);
}

.landing-footer-bottom {
    background: var(--landing-footer-bottom-bg-color);
}