@import "../style.css";

:root {
    --form-message-input-bg-color:var(--honeydew);
    --form-message-border-input-color: var(--royal-blue);
    --form-message-input-text-color: var(--royal-blue);
    --form-message-input-bg-focus-color:var(--gainsboro);
}

.form-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 73.125em;
    font-size: 1rem;
}

.form-message__personal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30em;
}

.form-message__item {
    margin: 0.9em 0;
}

.form-message__input{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.95em;
    width: 30em;
    background: var(--form-message-input-bg-color);
    border: 1px solid var(--form-message-border-input-color);
    color: var(--form-message-input-text-color);
    border-radius: 1.8em;
    font-size: 0.95em;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

.form-message__input:focus {
    outline: none;
    background: var(--form-message-input-bg-focus-color);
}

@media (max-width: 1170px) {
    .form-message {
        justify-content: center;
    }
}

@media (max-width: 730px) {
    .form-message__input {
        width: 25em;
    }
}
