<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Footer-top</title>
  <link rel="stylesheet" href="footer-top.css">
  <link rel="stylesheet" href="../header/header-top.css">
</head>
<body>
<section class="footer-top">
  <aside class="footer-top__part footer-logo">
    <section class="footer-side">
      <img class="logo-img" src="../../image/logo-vkladka.png" alt="AutoPoint">
    </section>
  </aside>
  <aside class="footer-top__part">
    <section class="footer-side">
      <h5 class="footer-side__title">O нас</h5>
      <p>Мы всегда готовы помочь Вам решить любую проблему с Вашим автомобилем.</p>
    </section>
  </aside>
  <aside class="footer-top__part">
    <section class="footer-side">
      <h5 class="footer-side__title">Услуги</h5>
      <a class="footer-side__item" href="">Шиномонтаж</a>
      <a class="footer-side__item" href="">Ремонт шин</a>
      <a class="footer-side__item" href="">Ремонт подвески</a>
      <a class="footer-side__item" href="">Раскатка дисков</a>
      <a class="footer-side__item" href="">Замена масла</a>
      <a class="footer-side__item" href="">Аргонная сварка</a>
    </section>
  </aside>
  <aside class="footer-top__part">
    <section class="footer-side">
      <h5 class="footer-side__title">Контакты</h5>
      <a class="footer-side__item footer-side__item_place" href="">Воложин ул.Чапаева, 13<br>
        GPS: 54.086759, 26.538493</a>
      <a class="footer-side__item footer-side__item_phone" href="tel:+375291234567">+375 (29) 123-45-67</a>
      <a class="footer-side__item footer-side__item_phone" href="tel:+375331234567">+375 (33) 123-45-67</a>
      <a class="footer-side__item footer-side__item_mail" href="mailto:info@autopoint.org">info@autopoint.org</a>
    </section>
  </aside>
</section>
</body>
</html>