<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact-connection</title>
  <link rel="stylesheet" href="contact-connection.css">
</head>
<body>
  <section class="contact">
    <section class="contact-item">
      <h4 class="contact-item__title">Телефон</h4>
      <p class="contact-item__content">
        <a class="contact-item__link" href="tel:+37529123456789">+375 (29) 123-45-67</a>
      </p>
      <p class="contact-item__content">
        <a class="contact-item__link" href="tel:+37533123456789">+375 (33) 123-45-67</a>
      </p>
    </section>
    <section class="contact-item">
      <h4 class="contact-item__title">Адрес</h4>
      <p class="contact-item__content">Воложин, ул.Чапаева,13</p>
      <p class="contact-item__content">GPS: 54.086792, 26.539485</p>
    </section>
    <section class="contact-item">
      <h4 class="contact-item__title">E-mail</h4>
      <p class="contact-item__content">
        <a class="contact-item__link" href="mailto:info@autopoin.org">info@autopoin.org</a>
      </p>
    </section>
    <section class="contact-item">
      <h4 class="contact-item__title">Время работы</h4>
      <p class="contact-item__content">ПН-СБ: 8.00 - 17.00</p>
      <p class="contact-item__content">ВС: по вашему звонку!</p>
    </section>
  </section>
</body>
</html>